* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:hsl(30, 38%, 92%);
    flex-direction: column;
}

main {
    width: 100%;
    margin-top: 65px
}

.card {
    min-width: 600px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}

.left {
    width: 50%;
    background-image: url('images/image-product-desktop.jpg');
    background-position: cover;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 35px 40px;

}

.item-category {
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

h1 {
    font-size: 37px;
}

.description {
    width: 85%;
    line-height: 1.5;
    font-size: 14px;
}
.prices{
    width: 100%;
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%);
    gap: 24px;
}
.prices-updated{
    font-size: 36px;
}
.prices-previous{
    font-size: 14px;
    text-decoration: line-through;
}
button{
    width: 100%;
    padding: 17px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    background-color:hsl(158, 36%, 37%);
    border: none;
    cursor: pointer;

}
button:hover{
    background-color: antiquewhite;
}
@media only screen and (min-width:641px) and (max-width:768px){
    .card{
        max-width: 600px;
    }
}
@media only screen and (max-width:640px){
    .card{
        min-width: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .left{
        width: 100%;
        height: 150px;
        background-image: url('images/image-product-mobile.jpg ');
        border-radius:10px 10px 0 0 ;

    }
    .right{
        width: 100%;
        row-gap: 12px;
        padding: 25px;
        border-radius: 0 0 10px 10px;
    }
    .item-category{
        font-size: 14px;
    }
    h1{
        font-size: 32px;
        line-height: 1;
    }
    .description{
        width: 95%;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 1.7;
        font-size: 12px;
    }
}